.embla {
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  margin-left: -10px; 
}

.embla__slide {
  flex: 0 0 33.33%; 
  min-width: 0;
  padding-left: 10px; 
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 100%; 
  }
}

.ql-editor {
  color: white;
  min-height: 400px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.ql-toolbar {
  background-color: #B7DD30;
  border-color: #B7DD30 !important;
}

.ql-container {
  border-color: #B7DD30 !important;
  background-color: rgba(255, 255, 255, 0.05);
}


.blog-content p {
  margin-bottom: 2rem; 
  line-height: 1.8;     
}


.ql-editor p {
  margin-bottom: 2rem !important;
}